*{
	background-image: clock.png;
}

h4 {
	border: 2px solid grey;
	padding: 3px;
	margin: 20px;
	margin-left: 80px;
	color: white;
	background-color: black;
	width: 200px;
}
#clock {
	background-color: blue;
	color: red;
	width: 500px;
	height: 150px;
	padding-top: 50px;

}
h1 {
	margin-left: 90px;	
}
.result {
	color: green;
}