/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#gold {
	border: 5px solid black;
	width: 200px;
	height:	20px;
}
h3 {
	display: inline-block;
}
.box {
	border: 5px solid black;
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
#activities {
	width: 990px;
	height: 200px;
	border: 3px solid black;
	margin-left: 20px;
	overflow: scroll;
}
.win {
	color: green;
}
.lose {
	color: red;
}